extends layout

block content
    .form-card
        .form-card__main
            h3 Join Gourmand
            form.form--narrow(action="/register" method="POST")
                input(type="text" name="username" placeholder="username" pattern=".{3,}" required)
                p.form__helper-text Username must be 3 characters long
                input(type="password" name="password" placeholder="password" pattern=".{6,}" required)
                p.form__helper-text Password must be 6 characters long 
                button.button--primary Sign Up
        .form-card__bottom
            p Already have an account? #[a(href="/login") Log in]